<div class="add-data-container">
  <!-- Ajouter une maison -->
  <h2 class="section-title">Ajouter une maison</h2>
  <form (ngSubmit)="addHome()" class="form">
    <label for="homeName" class="form-label">Nom de la maison :</label>
    <input type="text" id="homeName" [(ngModel)]="home.name" name="homeName" placeholder="ajouter le nom de la maison" class="form-input" required />
    <input type="text" id="homeAddres" [(ngModel)]="home.address" name="homeAddress" placeholder="ajouter l'adresse de la maison" class="form-input" required />
    <button type="submit" class="form-button">Ajouter une maison</button>
  </form>

  <!-- Ajouter une pièce -->
  <h2 class="section-title">Ajouter une pièce</h2>
  <form (ngSubmit)="addRoom()" class="form">
    <label for="roomName" class="form-label">Nom de la pièce :</label>
    <input type="text" id="roomName" [(ngModel)]="room.name" name="roomName" class="form-input" required />

    <label for="homeId" class="form-label">ID de la maison :</label>
    <input type="text" id="homeId" [(ngModel)]="room.homeId" name="homeId" class="form-input" required />

    <button type="submit" class="form-button">Ajouter une pièce</button>
  </form>

  <!-- Ajouter un appareil -->
  <h2 class="section-title">Ajouter un appareil</h2>
  <form (ngSubmit)="addDevice()" class="form">
    <label for="deviceName" class="form-label">Nom de l'appareil :</label>
    <input type="text" id="deviceName" [(ngModel)]="device.name" name="deviceName" class="form-input" required />

    <!-- ID de la maison -->
    <label for="homeId" class="form-label">ID de la maison :</label>
    <input type="text" id="homeId" [(ngModel)]="device.homeId" name="homeId" class="form-input" required />

    <label for="roomId" class="form-label">ID de la pièce :</label>
    <input type="text" id="roomId" [(ngModel)]="device.roomId" name="roomId" class="form-input" required />

    <label for="deviceState" class="form-label">État initial de l'appareil :</label>
    <input type="checkbox" id="deviceState" [(ngModel)]="device.state" name="deviceState" class="form-checkbox" />

    <button type="submit" class="form-button">Ajouter un appareil</button>
  </form>
  <div>
    <!-- Bouton pour naviguer vers la page users -->
    <button class="users-button" routerLink="/users">Retour vers la pages de l'utilisateur</button>
  </div>
</div>
