/* Conteneur principal */
.add-data-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

/* Titres de section */
.section-title {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 2px solid #007BFF;
  padding-bottom: 5px;
}

/* Formulaires */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.form-label {
  font-size: 1.2em;
  font-weight: 600;
  color: #333;
  margin-right: 10px;
}

.form-input, .form-checkbox {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

  .form-input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  }

/* Boutons */
.form-button {
  padding: 10px 15px;
  background-color: #007BFF;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

  .form-button:hover {
    background-color: #0056b3;
  }

/* Message d'état du dispositif */
.device-state-message {
  font-size: 1.1em;
  margin-top: 5px;
  font-weight: bold;
  color: #333;
}

  .device-state-message strong {
    color: #4caf50; /* Vert pour 'On' */
  }

/* Case à cocher */
input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

  input[type="checkbox"]:checked {
    background-color: #4caf50;
  }

/* Message d'état du dispositif */
.device-state-message {
  font-size: 1.1em;
  margin-top: 5px;
  transition: color 0.3s ease;
}

  /* Message lorsque le dispositif est "On" (Vert) */
  .device-state-message.on {
    color: #4caf50; /* Vert */
  }

  /* Message lorsque le dispositif est "Off" (Rouge) */
  .device-state-message.off {
    color: #f44336; /* Rouge */
  }
