<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item"><a routerLink="/users" routerLinkActive="active-link">Dashboard</a></li>
    <li class="navbar-item"><a routerLink="/add-home" routerLinkActive="active-link"> Add Home</a></li>
    <li class="navbar-item"><a routerLink="/add-room" routerLinkActive="active-link"> Add Room</a></li>
    <li class="navbar-item"><a routerLink="/add-device" routerLinkActive="active-link"> Add Device</a></li>
  </ul>
  <button class="logout-button" (click)="logout()">Logout</button>
</nav>
