<!-- app.component.html -->

<router-outlet></router-outlet>

  <h1>Users</h1>
  <div *ngFor="let user of users">
    <h2>{{ user.name }}</h2>
    <div *ngFor="let home of user.homes">
      <h3>{{ home.nickname }}</h3>
      <div *ngFor="let room of home.rooms">
        <h4>{{ room.name }}</h4>
        <ul>
          <li *ngFor="let device of room.devices">
            {{ device.description }} - {{ device.state ? 'On' : 'Off' }}
            <button (click)="toggleDeviceState(user._id, home.homeId, room.roomId, device.deviceId)">
              Toggle
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>


