<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item"><a routerLink="/users" routerLinkActive="active-link">Dashboard</a></li>
    <li class="navbar-item"><a routerLink="/add" routerLinkActive="active-link">Add Data</a></li>
  </ul>
  <button class="logout-button" (click)="logout()">Logout</button>
</nav>

<div *ngIf="user" class="dashboard-container">
 

  <div class="home-container">
    <div *ngFor="let home of user.homes" class="home-card">
      <h2 class="home-nickname">
        🏠 {{ home.nickname }}
      </h2>

      <div class="rooms-container">
        <div *ngFor="let room of home.rooms" class="room-card">
          <h3 class="room-name">🛋️ {{ room.name }}</h3>
          <ul class="device-list">
            <li *ngFor="let device of room.devices" class="device-item">
              <div class="device-info">
                <span class="device-description">
                  🔌 <strong>{{ device.description }}</strong>
                </span>
                <span class="device-id">ID: {{ device.deviceId }}</span>
              </div>
              <button class="toggle-button"
                      [ngClass]="{'on-button': device.state, 'off-button': !device.state}"
                      (click)="toggleDeviceState(home.homeId, room.roomId, device.deviceId)">
                {{ device.state ? 'Turn Off' : 'Turn On' }}
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

