<div *ngIf="user" class="user-container">
  <div class="user-card">
    <h2 class="user-name" (click)="openModal(user)">{{ user.name }}</h2>
    <p>Email: {{ user.email }}</p>
    <div *ngFor="let home of user.homes" class="home-card">
      <h3 class="home-nickname">{{ home.nickname }}</h3>
      <div *ngFor="let room of home.rooms" class="room-card">
        <h4 class="room-name">{{ room.name }}</h4>
        <ul class="device-list">
          <li *ngFor="let device of room.devices" class="device-item">
            <span class="device-description">Device: <strong class="bigger-description">{{ device.description }}</strong>
            <br><br>ID: <strong>{{ device.deviceId }}</strong></span>
            <!-- Button for toggling state -->
            <button [ngClass]="{'on-button': device.state, 'off-button': !device.state}"
                    (click)="toggleDeviceState(home.homeId, room.roomId, device.deviceId)">
              {{ device.state ? 'On' : 'Off' }}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Add Data Button -->
<div>
  <button class="add-data-button" routerLink="/add">Add Data</button>
</div>

<!-- Logout Button -->
<div>
  <button class="logout-button" (click)="logout()">Logout</button>
</div>

<!-- Modal for User Info -->
<div class="modal" *ngIf="selectedUser">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>User Information</h2>
    <p><strong>Name:</strong> {{ selectedUser.name }}</p>
    <p><strong>Email:</strong> {{ selectedUser.email }}</p>
    <p><strong>Homes:</strong> {{ selectedUser.homes.length }}</p>
    <!-- Additional fields can be added here if necessary -->
  </div>
</div>
