<header-tab></header-tab>

<div class="add-data-container">
  
  <h2 class="section-title">Add a Room</h2>
  <form (ngSubmit)="addRoom()" class="form">
    <label for="roomName" class="form-label">Room Name:</label>
    <input type="text" id="roomName" [(ngModel)]="room.name" name="roomName" class="form-input" required />

    <label for="homeId" class="form-label">Select Home:</label>
    <select id="homeId" [(ngModel)]="room.homeId" name="homeId" (change)="loadRooms(room.homeId)" class="form-input" required>
      <option *ngFor="let home of homes" [value]="home.homeId">{{ home.nickname }}</option>
    </select>

    <button type="submit" class="form-button">Add Room</button>
  </form>

 
</div>
